body{
    padding: 0px 50px;
}

.header{
    background-color: grey;
    border: 5px solid grey;
    border-radius: 10px;
    height: 100px;
}

.header-link{
    color: black;
    padding-top: 10px;
    background-color: darkgrey;
    border: 35px solid darkgrey;
    border-radius: 10px;
    position: relative;
    top: 40px;
}

.login-button{
    padding-top:10px;
}

.login-button-link{
    background-color: grey;
    border: 10px solid grey;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
}

.city-display-row{
    border: 10px solid black;
    border-radius: 10px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding: 0px;
    }
}